body{
	margin:0;
	padding:0;
}

table {
	text-align:center;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

hr{
	border:0;
	height:1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title{
	text-align: center;
}

.name{
	font: 1.6em "Arial", serif;
	height: 50px;
}

.info{
	font: 1.2em "Arial", serif;
}

.icon{
	width: 10%;
}

.contactButton {
    border: 0;
    line-height: 2.5;
    padding: 0 100px;
	margin: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactButton:hover {
    background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

.contactButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .5),
                inset 2px 2px 3px rgba(0, 0, 0, .5),
				inset 2px 2px 3px rgba(255, 255, 255, .5),
				inset -2px -2px 3px rgba(0, 0, 0, .5);
}